.ui-navbar li {
	text-align: center;
}

.opportunities .right {
	float: right;
}
.opportunities .small {
	font-size: small;
}

.search-options {
	text-align: center;
}

.event-type, .distance-limit {
	width: 100%;
}

#fromDateContainer .ui-corner-bottom, #untilDateContainer .ui-corner-bottom {
	visibility: hidden;
	height: 0px;
}

.ui-select {
	display: inline;
}

#event-details .interests li + li:before {
    content: ', ';
}
#event-details .interests li {
    list-style: none;
    display: inline;
    color: #6A7B8C;
}

#event-details .where {
    width: 50%;
    float: left;
    margin-top: 15px;
}
#event-details .when {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 15px;
}
#event-details .when span, #event-details .where span {
    display: block;
}

.divider::before {
    content: "";
    position: absolute; /* #element must be position:relative */
    height: 2px; /* change to suit your needs */
    width: 100%; /* change to suit your needs */
    background: #000; /* raise your hand if you like having six different prefixes/syntax */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F0F0F0), color-stop(50%,#5D7E10), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(left, #F0F0F0 0%,#5D7E10 50%,#F0F0F0 100%);
    background: -moz-linear-gradient(left, #F0F0F0 0%, #5D7E10 50%, #F0F0F0 100%);
    background: -ms-linear-gradient(left, #F0F0F0 0%,#5D7E10 50%,#F0F0F0 100%);
    background: -o-linear-gradient(left, #F0F0F0 0%,#5D7E10 50%,#F0F0F0 100%);
    background: linear-gradient(left, #F0F0F0 0%,#5D7E10 50%,#F0F0F0 100%);
}

/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid 		#456f9a /*{b-bar-border}*/;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce /*{b-bar-background-start}*/), to( #5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-b .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-b .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}

.ui-bar-b .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}

.ui-bar-b .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-b,
.ui-dialog.ui-overlay-b {
	border: 1px solid 		#C6C6C6 /*{b-body-border}*/;
	background: 			#cccccc /*{b-body-background-color}*/;
	color: 					#333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e6e6e6 /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#e6e6e6 /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#e6e6e6 /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#e6e6e6 /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#e6e6e6 /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#e6e6e6 /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}

.ui-body-b .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

.ui-btn-up-b {
	border: 1px solid 		#145072 /*{b-bup-border}*/;
	background: 			#2567ab /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5D7E10 /*{b-bup-background-start}*/), to( #A4CE23 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#5D7E10 /*{b-bup-background-start}*/, #A4CE23 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#5D7E10 /*{b-bup-background-start}*/, #A4CE23 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#5D7E10 /*{b-bup-background-start}*/, #A4CE23 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#5D7E10 /*{b-bup-background-start}*/, #A4CE23 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#5D7E10 /*{b-bup-background-start}*/, #A4CE23 /*{b-bup-background-end}*/);
}
.ui-btn-up-b a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid 		#00516e /*{b-bhover-border}*/;
	background: 			#4b88b6 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A4CE23 /*{b-bhover-background-start}*/), to( #5D7E10 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#4e89c5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A4CE23 /*{b-bdown-background-start}*/), to( #5D7E10 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#A4CE23 /*{b-bdown-background-start}*/, #5D7E10 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#A4CE23 /*{b-bdown-background-start}*/, #5D7E10 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#A4CE23 /*{b-bdown-background-start}*/, #5D7E10 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#A4CE23 /*{b-bdown-background-start}*/, #5D7E10 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#A4CE23 /*{b-bdown-background-start}*/, #5D7E10 /*{b-bdown-background-end}*/);
}
.ui-btn-down-b a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


.ui-btn-up-b.active {
	border: 1px solid 		#00516e /*{b-bhover-border}*/;
	background: 			#4b88b6 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A4CE23 /*{b-bhover-background-start}*/), to( #5D7E10 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#A4CE23 /*{b-bhover-background-start}*/, #5D7E10 /*{b-bhover-background-end}*/);
}

.ui-select {
	width: 100% !important;
}

/* awards page */
.award {
	display: inline-block;
	text-align: center;
	margin: 2px 8px;
	width: 80px;
}

.award IMG {
	display: block;
	margin: auto;
}

.award SPAN {
	font-size: 10px;
	word-break: break-word;
}

.header {
	padding:  5px;
}

.header img {
	width: 30px;
	height: 20px;
}

.hidden {
	position:absolute;
	left: -10000px;
	height: 0px;
	margin-bottom: -400px;
}

.map {
	position: relative;
	width: 100%;
	height: 400px;
}

#search .ui-content {
	padding: 0px;
}

#search form, #search ul {
	margin: 0px !important;
}
